@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-inverse-primary: #c0c1ff;
  --color-surface-container-high: #eae7ee;
  --color-on-error: #ffffff;
  --color-surface-tint: #494bd6;
  --color-primary: #4648d4;
  --color-surface-container-low: #f6f2fa;
  --color-text-muted: #64748b;
  --color-on-primary: #ffffff;
  --color-secondary-fixed: #f0dbff;
  --color-surface-container: #f0ecf4;
  --color-outline: #767586;
  --color-on-surface-variant: #464554;
  --color-on-surface: #1b1b20;
  --color-tertiary-fixed: #e2dfff;
  --color-on-background: #1b1b20;
  --color-on-primary-fixed-variant: #2f2ebe;
  --color-primary-fixed: #e1e0ff;
  --color-tertiary-fixed-dim: #c3c0ff;
  --color-tertiary: #4b41e1;
  --color-surface-dim: #dcd9e0;
  --color-sidebar-bg: #0a0a0f;
  --color-inverse-surface: #303036;
  --color-surface-container-highest: #e4e1e9;
  --color-outline-variant: #c7c4d7;
  --color-secondary-fixed-dim: #ddb7ff;
  --color-surface-white: #ffffff;
  --color-accent-purple: #a855f7;
  --color-surface-bright: #fcf8ff;
  --color-secondary-container: #9c48ea;
  --color-on-tertiary: #ffffff;
  --color-surface-variant: #e4e1e9;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-container: #fffbff;
  --color-primary-container: #6063ee;
  --color-on-tertiary-container: #fffbff;
  --color-on-secondary-container: #fffbff;
  --color-on-secondary-fixed-variant: #6900b3;
  --color-primary-fixed-dim: #c0c1ff;
  --color-border-subtle: #e2e8f0;
  --color-error-container: #ffdad6;
  --color-on-secondary-fixed: #2c0051;
  --color-inverse-on-surface: #f3eff7;
  --color-on-error-container: #93000a;
  --color-error: #ba1a1a;
  --color-surface: #fcf8ff;
  --color-tertiary-container: #645efb;
  --color-on-tertiary-fixed: #0f0069;
  --color-on-primary-fixed: #07006c;
  --color-background: #fcf8ff;
  --color-on-secondary: #ffffff;
  --color-secondary: #8127cf;
  --color-on-tertiary-fixed-variant: #3323cc;

  --spacing-stack-md: 16px;
  --spacing-margin-desktop: 32px;
  --spacing-sidebar-width: 280px;
  --spacing-stack-sm: 8px;
  --spacing-base: 8px;
  --spacing-stack-lg: 24px;
  --spacing-margin-mobile: 16px;
  --spacing-gutter: 24px;

  --font-label-md: "Inter", sans-serif;
  --font-body-md: "Inter", sans-serif;
  --font-label-sm: "Inter", sans-serif;
  --font-headline-md: "Inter", sans-serif;
  --font-body-sm: "Inter", sans-serif;
  --font-headline-lg: "Inter", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-headline-lg-mobile: "Inter", sans-serif;
  --font-display-lg: "Inter", sans-serif;
}
